@model AppleStore.Domain.Entities.ShippingDetails

@{
    ViewBag.Title = "iGadget Store: Форма заказа";
}
<div class="container">
    <h2 class="title-h1">Оформить заказ сейчас</h2>
    <div class="title-h4">
        <p class="">Пожалуйста введите ваши контактные данные, и мы сразу отправим товар!</p>
    </div>


@using (Html.BeginForm())
{
    @Html.ValidationSummary();

    <h3 class="title-h3">Информация для доставки:</h3>
    <ul id="info-order">
        <li>
            <label for="NameInput">ФИО</label>
            @Html.TextBoxFor(x => x.Name, new { @class = "form-control", @id = "NameInput", @placeholder = "Стивен Пол Джобс" })
        </li>
        <li>
            <label for="AdressInput">Адрес доставки</label>
            @Html.TextBoxFor(x => x.DeliveryAddress, new { @class = "form-control", @id = "AdressInput", @placeholder = "г. Москва, ул. Чехова 123" })
        </li>
        <li>
            <label for="TelephoneInput">Номер телефона</label>
            @Html.TextBoxFor(x => x.Phone, new { @class = "form-control", @id = "TelephoneInput", @placeholder = "+7 912 545 13 53" })
        </li>
        <li>
            <label for="EmailInput">Email</label>
            @Html.TextBoxFor(x => x.Email, new { @class = "form-control", @id = "EmailInput", @placeholder = "name@example.com" })
        </li>
    </ul>


    <h3 class="title-h1">Опции</h3>
    <div class="title-h4">
        <label>
            @Html.EditorFor(x => x.GiftWrap)
            Использовать подарочную упаковку?
        </label>
    </div>

    <div class="text-center">
        <input class="btn btn-outline-dark my-2 my-sm-0" type="submit" value="Обработать заказ" />
    </div>
}
</div>