@model AppleStore.Domain.Entities.Gadget
@{
    ViewBag.Title = "iGadget Store";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="descrinmore">
        <div>
            <img src="@Url.Action("GetImage", "Gadget", new { Model.GadgetId })" alt="" class="photo" style="margin-right: 15px">
        </div>
        <h3>«@Model.Name»</h3>
        <h1 style="margin-bottom: -15px;">@Model.Price.ToString("# ₽")</h1>
        <div>
            @Html.Action("HaveGadgetInCart", "Cart", new { gadgetid = Model.GadgetId })
        </div>
        <div class="DescriptionTop">
            <div class="Specifications">
                <ul>
                    @if (Model.Casing.MaterialId.HasValue)
                    {
                        <li>
                            <span class="specification">Материал корпуса: </span><span>@Model.Casing.Material.Title</span>
                        </li>
                    }
                    <li>
                        <span class="specification">Разработчик: </span> <span>@Model.Category.Company.Title</span>
                    </li>
                    <li>
                        <span class="specification">Операционная система: </span> <span>@Model.OperatingSystem.Title</span>
                    </li>
                    @if (Model.CPUId.HasValue)
                    {
                        <li>
                            <span class="specification">Процессор: </span><span>@Model.CPU.Title</span>
                        </li>
                    }
                    <li>
                        <span class="specification">Количество оперативной памяти: </span><span>@Model.RAM.ToString("# Гбайт")</span>
                    </li>
                    @if (Model.DisplayId.HasValue && Model.Display.ResolutionH.HasValue && Model.Display.ResolutionW.HasValue)
                    {
                        <li>
                            <span class="specification">Разрешение экрана: </span><span>@Model.Display.ResolutionW x @Model.Display.ResolutionH</span>
                        </li>
                    }
                    @if (Model.DisplayId.HasValue)
                    {
                        if (Model.Display.Diagonal.HasValue)
                        {
                            <li>
                                <span class="specification">Диагональ экрана: </span><span>@Model.Display.Diagonal</span>
                            </li>
                        }
                        if (Model.Display.AspectRatioW.HasValue && Model.Display.AspectRatioH.HasValue)
                        {
                            <li>
                                <span class="specification">Соотношение сторон: </span><span>@($"{Model.Display.AspectRatioW}:{Model.Display.AspectRatioH}")</span>
                            </li>
                        }
                        if (Model.Display.DisplayTechnologyId.HasValue)
                        {
                            <li>
                                <span class="specification">Тип экрана: </span><span>@Model.Display.DisplayTechnology.Title</span>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>

        <div class="DescriptionTop">
            <div class="Specifications">
                <ul>
                    <li>
                        <span class="specification">Количество памяти: </span><span>@Model.ROM.ToString("# Гбайт")</span>
                    </li>

                    @if (Model.CameraId.HasValue)
                    {
                        if (Model.Camera.CameraResolution.HasValue)
                        {
                        <li>
                            <span class="specification">Камера: </span><span>@Model.Camera.CameraResolution.Value.ToString("# МП")</span>
                        </li>
                        }
                        if (Model.Camera.VidResolutionH.HasValue && Model.Camera.VidResolutionW.HasValue)
                        {
                        <li>
                            <span class="specification">Макс. разрешение видео: </span><span>@Model.Camera.VidResolutionW x @Model.Camera.VidResolutionH</span>
                        </li>
                        }
                    }

                    <li>
                        <span class="specification">Габариты: </span><span>@($"{Model.Casing.Height}x{Model.Casing.Width}x{Model.Casing.Thickness}")</span>
                    </li>

                    @if (Model.DisplayId.HasValue && Model.Display.PPI.HasValue)
                    {
                        <li>
                            <span class="specification">PPI: </span><span>@Model.Display.PPI</span>
                        </li>
                    }
                    <li>
                        <span class="specification">Вес: </span><span>@Model.Casing.Weight.ToString("# г.")</span>
                    </li>

                    @if (!string.IsNullOrEmpty(Model.SIMType))
                    {
                        <li>
                            <span class="specification">Тип симкарты: </span><span>@Model.SIMType</span>
                        </li>
                    }
                    @if (Model.Casing.WaterResistantId.HasValue)
                    {
                        <li>
                            <span class="specification">Наличие влагозащиты: </span><span>@Model.Casing.WaterResistant.Title</span>
                        </li>
                    }
                    @if (!string.IsNullOrEmpty(Model.MiniJack))
                    {
                        <li>
                            <span class="specification">Разъём для наушников: </span><span class="spec">@Model.MiniJack</span>
                        </li>
                    }
                    @if (!string.IsNullOrEmpty(Model.BatteryCapacity))
                    {
                        <li>
                            <span class="specification">Емкость аккумулятора: </span><span class="spec">@Model.BatteryCapacity</span>
                        </li>
                    }
                    @if (!string.IsNullOrEmpty(Model.Sensors))
                    {
                        <li>
                            <span class="specification">Датчики: </span><span class="spec">@Model.Sensors</span>
                        </li>
                    }
                    @if (!string.IsNullOrEmpty(Model.Equipment))
                    {
                        <li>
                            <span class="specification">Комплектация: </span><span class="spec">@Model.Equipment</span>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>